* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(166, 165, 165);
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header-title {
    color: white;
    text-align: center;
    padding: 30px;
}