@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    --big-font: "Fascinate";
    --skinny-font: "PT Sans Narrow";
    --primary-color: rgba(79, 18, 233, 0.89);
}
body {
    background: rgb(166, 165, 165);
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header-title {
    color: white;
    text-align: center;
    padding: 30px;
    font-family: var(--big-font);
    font-style:italic;
    text-shadow: 4px 4px 11px var(--primary-color);
}
.navbar {
    background: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.nav-link {
    color: black;
    font-family: var(--skinny-font);
    font-size: 36px;
}

main {
    display: flex;
}
.article {
    background: white;
    flex-basis: 70%;
    padding: 30px;
    margin: 15px 15px 15px 0;
}
.article-heading {
    font-family: var(--big-font);
    font-style: italic;
    text-align: center;
}
.article p {
    font-family: var(--skinny-font);
    margin: 10px 0;
}
.article h3 {
    font-family: var(--big-font);
    font-style:italic;
    margin: 10px 0;
}

.sidebar {
    background: var(--primary-color);
    padding: 20px;
    flex-basis: 25%;
    margin: 15px 0;
}
.sidebar-title {
    font-family: var(--big-font);
    text-align: center;
    font-style:italic;
}
.aside-list {
    padding: 10px 25px;
}
.aside-LI-link {
    color:rgba(154, 121, 238, 0.89)
}

.copyright-text {
    font-family: var(--skinny-font);
    background: white;
    padding: 30px;
    margin-bottom: 30px;
}